@import url('https://ivoah.net/common.css');

.bookmark, .footer {
    font-family: 'IM Fell English SC', serif;
}

.subtitle {
    font-size: 0.75em;
}

textarea {
    width: 100%;
    height: 15em;
}
